body {
  font-family: "Nunito", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav ul {
  font-size: 1rem;
  list-style: none; /* removes bullets */
  padding: 0; 
  margin: 0;
  display: flex; /* makes list horizontal */
  justify-content: center; /* centers items horizontally*/
}
